body{
    display: flex;
    margin: 0;
    background: url("https://wallpapers.com/images/hd/black-and-blue-spikes-s5j7a3epfo9tao92.jpg");
    backdrop-filter: blur(50px);
    background-size: cover;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    box-sizing: border-box;

    a{
        text-decoration: none;
        color:white;
        width: 70px;
        height: 4rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .active{
            position: relative;
        }
        .active::before{
            position: absolute;
            bottom:15px;
            content: "";
            width: 20px;
            height: 3px;
            border-radius: 10px;
            background-color: orangered;
        }
    }
    a:hover{
        background-color: rgba(255, 255, 255, .3);
    }

    
}


main{
    width: 100%;
}

.info-prog{
    padding:20px 0px;
    display: flex;
    gap: 30px;
    height: 200px;
    box-sizing: border-box;


    img{
        width: auto;
        height: 100%;
        object-fit:contain;
    }
    
    .info{
        color:white;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        width: 50%;
        
        .titulo{
            font-size: 1.5rem;
            font-weight: 600;
        }

        .subtitulo{
            font-weight: 600;
        }
    }

}

.calendario{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    color: white;
    
    .linea-tiempo{
        font-family: 'Courier New', Courier, monospace;
        height: 2rem;
        display: flex;
        position: relative;
        
        .marca-tiempo{
            position: absolute;
            bottom: 0;
            color: orangered;
        }

        .hora{
            min-width: 150px;
        }
    }

    .canal{
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 5px;
        height: 60px;
        text-decoration: none;
        padding-bottom: 5px;
    
        &:hover{
            .logo{
                background-color: rgba(255, 255, 255, .3);
                }
            
            .programa{
                background-color: rgba(255, 255, 255, .3);
                box-sizing: border-box;   
            }
        }
        
    }
    .logos{
        padding-top: 37px;
        margin-right: 5px;
    }

    .logo{
        background-color: rgba(255, 255, 255, .1);
        backdrop-filter: blur(10px);
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        
        img{
            width: 60%;
            object-fit: contain;
        }
    }
    .cartelera{
        display: flex;
    }

    .programacion{
        display: flex;
        gap: 5px;
        height: 60px;
        width: 5500px;
        overflow: hidden;
    }

    .programas{
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-x: scroll;
        overflow-y: hidden;

        .programa{
            background-color: rgba(255, 255, 255, .1);
            border-radius: 3px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            white-space: nowrap;
            padding: 0px 20px;
            box-sizing: border-box;
            font-family: 'Courier New', Courier, monospace;
            color: white;
            backdrop-filter: blur(3px);
            overflow: hidden;

            &.current{
                background-color: orangered;
            }
        }
    }
    
    .titulo{
        font-weight: 600;
    }
    .horario{
        font-size: .8rem;
    }
}
::-webkit-scrollbar {
    width: 0px;
    height: 7px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200);
    border-radius: 10px;
}
  
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
  
